/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Poppins:wght@300;400;600&display=swap');

.home-container {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.navbar-brand {
    font-family: 'Cinzel', serif;
    color: #d4a373 !important;
}

/* Hero Section */
.hero-section {
    background: url("https://www.trawell.in/images/tours/South-India.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

}

.hero-title {
    font-family: 'Cinzel', serif;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

/* Custom Buttons */
.btn-pilgrim {
    background-color: #d4a373;
    color: white;
    padding: 12px 30px;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-pilgrim:hover {
    background-color: #bc8a5f;
    color: white;
    transform: translateY(-2px);
}

/* Sections */
#about {
    background-color: #fefae0;
    padding: 80px 0;
}

.destination-card-img {
    height: 200px;
    object-fit: cover;
}

.nav-link {
    font-weight: 500;
    margin: 0 10px;
}